<?php
defined('BASEPATH') or exit('No direct script access allowed');
?>

<script type="text/javascript">
    function borrarLinea(ID_accion = "", desc_accion = "") {
        if (confirm('¿Esta seguro que quiere desactivar la Línea Acción con la descripción :  "' + desc_accion + '" y que pertenece al id : "' + ID_accion + '"?')) {
            location.href = "<?php echo base_url(); ?>index.php/LineaAccion/borrarLinea?ID_accion=" + ID_accion + "&desc_accion=" + desc_accion;
        }
    }

    function activarLinea(ID_accion = "", desc_accion = "") {
        if (confirm('¿Esta seguro que quiere activar la Línea Acción con nombre:  "' + desc_accion + '" y que pertenece al id : "' + ID_accion + '"?')) {
            location.href = "<?php echo base_url(); ?>index.php/LineaAccion/activarLinea?ID_accion=" + ID_accion + "&desc_accion=" + desc_accion;
        }
    }
</script>
<div id="main">
    <header class="mb-3"><a href="#" class="burger-btn d-block d-xl-none"><i class="bi bi-justify fs-3"></i> </a> </header>
    <div class="page-heading text-center">
        <h1 class="text-dark">Lineas de Acción</h1>
    </div>
    <div class="py-1 bg-dark"></div>
    <div class="page-content">
        <section class="row mb-2">
            <div class="col-12 col-lg-12">
                <div class="col-md-12 col-12 justify-content-center">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <form class="form form-vertical" action="<?php echo base_url(); ?>index.php/LineaAccion/index" method="post" id="formaBusqueda">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group has-icon-left ">
                                                    <label for="first-name-icon">
                                                        <h4 class="card-title text-dark">Nombre de la Línea de Acción</h4>
                                                    </label>
                                                    <div class="position-relative">
                                                        <input type="text" class="form-control" name="desc_accion" placeholder=" Coloque el nombre de Línea de acción" id="first-name-icon">
                                                        <div class="form-control-icon">
                                                            <i class="fas fa-chart-line fa-4x"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 justify-content-center mt-3">
                                                <div class="row justify-content-center">
                                                    <div class="col-12 col-lg-4 d-flex justify-content-center">
                                                        <button type="submit" class="btn btn-block text-dark form-control me-1 mb-2 " style="background-color: #fcca46;"><i class="fas fa-search"></i>&nbsp;Buscar</button>
                                                    </div>
                                                    <div class="col-12 col-lg-4 d-flex justify-content-center">
                                                        <button type="reset" class="btn btn-block text-dark form-control me-1 mb-2 " style="background-color: #619b8a;"><i class="fas fa-minus-circle"></i>&nbsp;Restablecer el formulario</button>
                                                    </div>
                                                    <div class="col-12 col-lg-4 d-flex justify-content-center">
                                                        <a class="btn btn-block text-dark form-control me-1 mb-2 " style="background-color: #f79824;" href=<?php echo base_url() . "index.php/LineaAccion/agregarlineaAccion"; ?>><i class="fas fa-plus-circle"></i>&nbsp;Agregar Línea de Acción</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive text-center">
                            <table class="table table-hover mb-0">
                                <thead class="text-dark" style="background-color: #fec789;">
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre Linea de Acción</th>
                                        <th>Estatus</th>
                                        <th colspan="2">Acciones</th>

                                    </tr>
                                </thead>
                                <tbody class="text-dark">
                                    <?php
                                    if (isset($Lineas)) {
                                        foreach ($Lineas as $lineas) {
                                            echo "
                                                <tr>
                                                <th>$lineas->ID_accion</th>
                                                <td>$lineas->desc_accion</td>";
                                            if ($lineas->estatus == 1) {
                                                echo "<td>Habilitado</td>";
                                                if (tienePermiso("LineaAccion", "bajas", $lista_permisos)) {
                                                    echo "
                                                    <td>
                                                    <button class='btn btn-light-danger form-control' onclick=\"borrarLinea('{$lineas->ID_accion}','{$lineas->desc_accion}')\"><i class=\"fas fa-ban\"></i></button>
                                                    </td>";
                                                }
                                            } else {
                                                echo "<td>Deshabilitado</td>";
                                                if (tienePermiso("LineaAccion", "bajas", $lista_permisos)) {
                                                    echo "
                                                    <td>
                                                    <button class='btn btn-light-success form-control' onclick=\"activarLinea('{$lineas->ID_accion}','{$lineas->desc_accion}')\"><i class=\"far fa-check-circle\"></i></button>
                                                    </td>";
                                                }
                                            }
                                            if (tienePermiso("LineaAccion", "cambios", $lista_permisos))
                                                echo "
                                                <td>
                                                <button class='btn btn-light-warning form-control' onclick=\"location.href='" . base_url() . "index.php/LineaAccion/editarlineaAccion?ID_accion={$lineas->ID_accion}&desc_accion={$lineas->desc_accion}&estatus={$lineas->estatus}'\" ><i class=\"fas fa-edit\"></i></button>
                                                </td>";
                                        }
                                    }

                                    ?>
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive -->
                    </div>
                    <!-- col-md-12 -->
                </div>
                <br>
                <?php if (isset($paginacion)) echo $paginacion; ?>
            </div>
        </section>
    </div>
</div>
</div>