<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <title>BMC</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Favicon -->
        <link href="img/favicon.ico" th:href="@{/assets/cliente/img/hero.jpg}"rel="icon">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">

        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="../../static/assets/cliente/lib/animate/animate.min.css" th:href="@{/assets/cliente/lib/animate/animate.min.css}" rel="stylesheet">
        <link href="../../static/assets/cliente/lib/owlcarousel/assets/owl.carousel.min.css" th:href="@{/assets/cliente/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
        <link href="../../static/assets/cliente/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" th:href="@{/assets/cliente/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}"  rel="stylesheet" />

        <!-- Customized Bootstrap Stylesheet -->
        <link href="css/bootstrap.min.css" th:href="@{/assets/cliente/css/bootstrap.min.css}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="css/style.css" th:href="@{/assets/cliente/css/style.css}" rel="stylesheet">
    </head>

    <body>
        <div class="container-xxl bg-white p-0">
            <!-- Spinner Start -->
            <!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
                <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div> -->
            <!-- Spinner End -->


            <!-- Navbar & Hero Start -->
            <div class="container-xxl position-relative p-0">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
                    <a href="" class="navbar-brand p-0">
                        <h1 class="text-primary m-0"><i class="fa fa-shopping-basket"></i> BMC</h1>
                        <!-- <img th:href="@{/assets/cliente/img/logo.png" alt="Logo"> -->
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav ms-auto py-0 pe-4">
                            <a href="index.html" class="nav-item nav-link active">Inicio</a>
                            <a href="about.html" class="nav-item nav-link">Acerca de</a>                         
                            <!-- comment <a href="service.html" class="nav-item nav-link">Service</a>-->
                            <a href="contact.html" class="nav-item nav-link">Contactanos</a>
                        </div>
                    </div>
                </nav>

                <div class="container-xxl py-5 bg-dark hero-header mb-5">
                    <div class="container my-5 py-5">
                        <div class="row align-items-center g-5">
                            <div class="col-lg-6 text-center text-lg-start">
                                <h1 class="display-3 text-white animated slideInLeft">Lenovo Laptop<br>de 15.6 Pulgadas</h1>
                                <p class="text-white animated slideInLeft mb-4 pb-2">Encuentra tu próxima laptop Lenovo: Consigue la computadora perfecta para ti.</p>
                                <a href="" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">-20% Aprovecha!</a>
                            </div>

                            <div class="col-lg-6 text-center text-lg-end overflow-hidden">

                                <img class="img-fluid" th:href="@{/assets/cliente/img/hero.png}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Navbar & Hero End -->


            <!-- Service End -->


            <!-- About End -->


            <!-- Testimonial Start -->
            <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="container">
                    <div class="text-center">
                        <h5 class="section-title ff-secondary text-center text-primary fw-normal">Mapa de Sitio</h5>
                    </div>
                    <center>
                        <img class="align-items-center" th:src="@{/assets/cliente/img/mapa.jpg}" style="width: 500px; height: 700px;">
                    </center>
                </div>

            </div>
        </div>

        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Buscar</h5>
                    <form id="apiGoogle" class="justify-content-center ">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12 form-group has-icon-left">
                                    <label for="buscador"></label>
                                    <div class="position-relative">
                                        <input type="text" id="buscador" class="form-control" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-dark"><i class="fas fa-save"></i>&nbsp;Buscar</button>
                        </div>
                    </form>
                    <div> <div id="hola"></div></div>
                </div>
            </div>


            <!-- Footer Start -->
            <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
                <div class="container py-5">
                    <div class="row g-5">
                        <div class="col-lg-3 col-md-6">
                            <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">BMC</h4>
                            <a class="btn btn-link" href="about.html">Acerca de</a>
                            <a class="btn btn-link" href="contact.html">Contactanos</a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Contactanos</h4>
                            <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Santiago de Queretaro, QRO</p>
                            <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                            <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@ejemplo.com</p>

                        </div>
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="" href="#">BMC</a>, All Right Reserved. 
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->


            <!-- Back to Top -->
            <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script th:href="@{/assets/cliente/lib/wow/wow.min.js}"></script>
        <script th:href="@{/assets/cliente/lib/easing/easing.min.js}"></script>
        <script th:href="@{/assets/cliente/lib/waypoints/waypoints.min.js}"></script>
        <script th:href="@{/assets/cliente/lib/counterup/counterup.min.js}"></script>
        <script th:href="@{/assets/cliente/lib/owlcarousel/owl.carousel.min.js}"></script>
        <script th:href="@{/assets/cliente/lib/tempusdominus/js/moment.min.js}"></script>
        <script th:href="@{/assets/cliente/lib/tempusdominus/js/moment-timezone.min.js}"></script>
        <script th:href="@{/assets/cliente/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js}"></script>

        <!-- Template Javascript -->
        <script th:href="@{/assets/cliente/js/main.js}"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#apiGoogle").submit(function (e) {
                    e.preventDefault(); //evita el comportambiento normal del submit, es decir, recarga total de la página
                    buscador = $.trim($('#buscador').val());
                    $.ajax({
                        url: 'https://serpapi.com/search.json?',
                        async: true,
                        cache: false,
                        type: 'GET',
                        data: {
                            //aquí va lo que se va buscar
                            q: buscador,
                            //en donde se quiere se busque 
                            location: 'Mexico',
                            //Idioma
                            hl: "es",
                            //PaísGoogle
                            gl: "mx",
                            //Dominio
                            google_domain: "google.com.mx",
                            //Key del usuario para usarla 
                            api_key: '3cb7bf7abc02777a79f5d70945e29b3346352350df4cd20bcf5220051556a36c',
                        },
                        dataType: 'json',
                        success: function (datos) {
                            //recibo la repuesta del json
                            let res = document.querySelector('#hola');
                            res.innerHTML = "";
                            for (let item of datos.organic_results) {
                                console.log(item);
                                res.innerHTML += `
                      
                      
                      <h3>${item.position}. ${item.title}</h3><br>  
                      &nbsp;<p>${item.snippet}</p><br>
              &nbsp;<a class="font-italic" href="${item.link}">${item.displayed_link}</a><br>
                    <hr style="height:2px;border-width:0;color:gray;background-color:black">
                      
                      `
                            }

                        },
                        error: function (xhr, status) {
                            window.alert('Fallo la búsqueda');
                        }
                    });
                });
            });
        </script>
    </body>

</html>